password-store
gnupg
ssh
.DS_STORE

.xmonad/
!.xmonad/data
!.xmonad/xmonad.hs

.config/
!.config/ranger/rifle.conf
!.config/karabiner/karabiner.json
!.config/nixpkgs/config.nix
!.config/taffybar

/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/lisp/
!/.emacs.d/lisp/*
