[user]
    email = dshnkao@gmail.com
    name = Dennis Kao

[alias]
    addf = !git-add-files.sh
    amend = commit --amend
    c = commit
    ca = commit -a
    co = checkout
    cob = !git checkout $(git branch --all --verbose | fzf -e | tr -s ' ' | cut -d' ' -f2 | sed s/remotes.origin.//)
    coc = !git-checkout-commits.sh
    diffc = diff --cached
    force = push --force-with-lease
    hist = log --pretty=format:\"%C(yellow)%h%C(reset) %C(green)%ad%C(reset) %C(red)|%C(reset) %s %C(bold blue)[%an]%C(reset)%C(yellow)%d%C(reset)\" --graph --date=short
    pu = push -u origin HEAD
    signoff = !git pull && git add . && git commit -m '-' && git push
    st = status -sb
    stash-all = stash save --include-untracked

[log]
    decorate = full

[merge]
    ff = only
    conflictstyle = diff3

[pull]
    ff = only

[push]
    default = simple

[gpg]
    program = gpg

[commit]
    gpgSign = true

[status]
    showUntrackedFiles = all

[core]
    excludesfile = ~/.global-gitignore
